CourseInfos/node_modules
Ex_9_1-9_7-BMIApp/node_modules
IlarisFlightDiaries/backend/node_modules
IlarisFlightDiaries/frontend/node_modules
Patientor/patientor-backend/node_modules
Patientor/patientor-frontend/node_modules

